<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Data Source=NOTE-078;Initial Catalog=LocadoraCarros;Integrated Security = False; User ID=UDIVINOPOLIS\adalberto.soares; Connect Timeout=15; Encrypt=False;TrustServerCertificate=False" connectionString="Data Source=NOTE-078;Initial Catalog=LocadoraCarros;Integrated Security = False; User ID=UDIVINOPOLIS\adalberto.soares; Connect Timeout=15; Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>


